#l-map {
    height: 350px;
}

#athena-login .header {
    width: 100%;
    text-align: center;
}

#athena-login .header .logo {
    width: 150px;
    margin: 20px;
}

#athena-login .header .title {
    height: 100px;
    font-size: 40px;
    font-weight: bolder;
    color: #ad0358;
    line-height: 100px;
    vertical-align: center;
    text-align: center;
}

#athena-login .form-group {
    width: 60%;
    margin: 0 auto;
}

#athena-login .submit {
    margin-top: 20px;
    text-align: center;
}

#athena-login .btn-default {
    width: 80px;
    margin: 20px;
}

#athena-menu .navbar-red {
    background-color: #ad0358;
    color: white;
}

#athena-menu .app-name {
    float: left;
    width: 10%;
    padding-left: 10px;
    font-weight: bolder;
}

#athena-menu .navbar-default .navbar-brand {
    color: white;
}

#athena-menu .navbar-default .navbar-text {
    text-align: right;
}

#athena-menu .navbar-default .navbar-link {
    color: white;
}

#athena-menu .user-name {
    float: right;
    text-align: right;
    padding-right: 10px;
    font-size: 15px;
}

#athena-body {
    margin: 20px;
}

#athena-body .shop-name {
    float: left;
    width: 60%;
    margin-bottom: 10px;
}

#athena-body .new-log {
    float: right;
    margin-right: 10px;
}

#athena-body .img-rounded {
    height: 160px;
    width: 160px;
}

#athena-body .athena-table {
    margin-top: 20px;
    white-space: normal;
    width:100%;
}

#athena-body .athena-table td{
    word-break:break-all;
}

#athena-body .commend-result {
    margin: 0px;
}

#athena-body .athena-map {
    display: none;
}

#athena-body .img-add-btn {
    font-size: 30px;
    width: 160px;
    height: 160px;
    line-height: 160px;
    text-align: center;
    vertical-align: center;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    float: left;
    margin-right: 20px;
}

#athena-body .uploaded-img {
    font-size: 20px;
    width: 160px;
    height: 160px;
    line-height: 160px;
    text-align: center;
    vertical-align: center;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.error-message {
    margin: 10px;
    color: red;
    text-align: center;
}